.btn.btn-link {
	cursor: pointer; 
	padding: 0px;
	font-size: 16px%;
}

.indent {
	margin-left: 50px;
}

body {
	background: #ffffff url("../../assets/images/bodybackground.png") repeat center;
	color: #ffffff;
}

.jumbotron {
	color: #000000;
}

#hangmanWord {
	margin-top: 10%;
}

#footer {
	bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: fixed;
}

.container, .jumbotron {
	background: #fff url("../../assets/images/gray.png") repeat center;
	padding: 10px;
	color: #fff;
}